<a href="https://colab.research.google.com/github/uiacap/ML_python/blob/main/notes/ML_python_03_while_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div dir=rtl>
برای ایجاد حلقه های تکرار از while و for استفاده می کنیم.
</br>
while condition :
</br>
  (while block)

</div>

<div dir=rtl>
حلقه for و تابع range:
</br>
در صورتیکه بخواهیم، یک حلقه به تعداد مشخص تکرار شود از حلقه for استفاده می کنیم.
</br>
در پایتون این کار را با استفاده از حلقه for و تابع range انجام می دهیم.


</div>

In [ ]:
for (a variable name) in range(n,[m,s])
  (for block)

In [ ]:
print('My name is')
for i in range(5):
  print('Jimmy Five Times (' + str(i) + ')')

<div dir=rtl>
range(n) : دنباله ای از اعداد صحیح که از 0 شروع شده و با n-1 خاتمه می یابد.
</br>
range(n,m) : دنباله ای از اعداد صحیح که از n شروع شده و با m-1 خاتمه می باید.
</br>
range(n,m,s) : دنباله ای از اعداد صحیح که از n شروع شده و حداکثر با m-1 خاتمه می یابد و
اعداد s تا s تا اضافه می شوند.
</br>
</div>

In [ ]:
for i in range(10) :
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(-1) :
  print(i, end=" ")

In [ ]:
for i in range(1,-1) :
  print(i, end=" ")

In [ ]:
for i in range(-1,3):
  print(i, end=" ")

-1 0 1 2

In [ ]:
for i in range(2, 10, 3):
  print(i, end=" ")

2 5 8

In [ ]:
for i in range(2, 10, -3):
  print(i, end=" ")

In [ ]:
for i in range(10, 2, -3):
  print(i, end=" ")

10 7 4

In [ ]:
for i in range(-1,5, -1):
  print(i, end= " ")

<div dir=rtl>
برنامه ای بنویسید که عددی را از ورودی گرفته و فاکتوریل آن را چاپ کند.
</div>

In [ ]:
num = int(input())
fact = 1
for i in range(1,num+1):
  fact *= i
print(f"factorial of {num} is {fact}")

1
factorial of 1 is 1

<div dir=rtl>
سوال: برنامه ای بنویسید که عددی را خوانده و تشخیص بدهد عدد کامل است یا خیر؟
</div>

In [ ]:
num = int(input())
sum = 0
for i in range(1,num):
  if num % i == 0 :
    sum += i
if sum == num :
  print("complete")
else:
  print("not complete")

36
not complete

<div dir = rtl>
برنامه ای بنویسید که اعداد کامل کمتر از 10000 را چاپ کند
</div>

In [ ]:
for num in range(1,10001):
  sum = 0
  for i in range(1,num):
    if num % i == 0 :
      sum += i
  if sum == num :
    print(num, end=" ")

6 28 496 8128

<div dir=rtl>
سوال : برنامه ای بنویسید که عدد را از ورودی خوانده و دنباله فیبوناچی تا آن عدد را حساب کند.
</div>

In [ ]:
n = int(input())
a = 1
b = 1
for i in range(n+1):
  if i == 0 or i == 1:
    print(1, end=" ")
    continue
  print(a+b, end=" ")
  #temp = a
  #a = b
  #b = temp + b
  a,b = b,a+b

5
1 1 2 3 5 8

<div dir=rtl>
روش دوم برای حل مسئله بالا:
</div>

In [ ]:
n = int(input())
a = 0
b = 1
if n >= 0 :
  print(1, end=" ")
for i in range(1,n+1):
  print(a+b, end=" ")
  a,b = b,a+b

<div dir = rtl>
برنامه ای بنویسید که n را از ورودی خوانده و جدول ضرب اعداد از 1 تا n را چاپ کند.
</div>

In [ ]:
n = int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    print(i*j, end=" ")
  print()

9
1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

<div dir=rtl>
سوال: عددی را بخواند و از عدد 1 تا آن عدد را چاپ کند.
</div>

In [ ]:
num = int(input())
i = 0
while i < num :
  print(i+1)
  i += 1

<div dir=rtl>
سوال: برنامه ای بنویسید که عددی را خوانده و مجموع مقسوم علیه های آنرا چاپ کند.
</div>

<div dir=rtl>
با استفاده از دستور break می توانیم، از یک حلقه تکرار خارج شویم.
</br>
هنگامی که کنترل به دستور break که در داخل یک حلقه تکرار قرار داده شده است، برسد
</br>
به اولین دستور بعد از حلقه تکرار منقل خواهد شد. و آن دستور را اجرا می کند.
</div>

<div dir=rtl>
برنامه ای بنویسید که تا وقتی کاربر عدد 0 را وارد نکرده است از او عدد بگیرد.
و سپس میانگین، بزرگترین و کوچکترین این اعداد را به دست آورد.
</div>