<a href="https://colab.research.google.com/github/uiacap/ML_python/blob/main/notes/ML_python_10_list_comperhension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div dir=rtl>
با استفاده از list comperhension یا معرف لیست می توانیم لیست را بر اساس الگوی خاصی یا از روی لیست های دیگر بسازیم
</div>

In [ ]:
qubes = []  # 1 8 27 ..., 1000
for x in range(1,11):
  qubes.append(x**3)
print(qubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
qubes = [x**3 for x in range(1,11)]
print(qubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

<div dir=rtl>
در یک معرف لیست، ابتدا یک عبارت داده می شود که لیست بر اساس آن عبارت ساخته می شود.
</br>
در صورتیکه عبارت شامل متغیر باشد، پس از دادن عبارت باید تعیین کنید که از چه رنجی انتحاب شود که این کار را به دستور for و ifمی توان انجام داد.
</dir>

In [ ]:
#create a list of even numbers between 10 to 30

In [ ]:
print([x+y for x in range(10) for y in range(5)])

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 6, 7, 8, 9, 10, 7, 8, 9, 10, 11, 8, 9, 10, 11, 12, 9, 10, 11, 12, 13]

In [ ]:
print([str(x)+y for x in [1,2,3] for y in ['A','B']])

['1A', '1B', '2A', '2B', '3A', '3B']

In [ ]:
[(x, y) for x in [1, 2, 3] for y in [1, 2, 3] if x != y]

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

<div dir=rtl>
لیستی تولید کنید که به ازای مقادیر مثبت data،و x^2 را تولید کند
</div>

In [ ]:
# using if else [expression if condition else expression for]
data = [10, -4, 53, 122, 0]

In [ ]:
#change every string in the list below to string that have the first upper case charachter
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

#change the list so that only fruit name that contain 'a' is included

<div dir=rtl>
یک ماتریس دارای m سطرو n ستون با مقادیر اولیه 0
</div>

In [ ]:
m = 3
n = 3

mat = [[0 for x in range(n)]for y in range(m)]
print(mat)